/* Responsive Design */
@media (max-width: 1200px) {
    #presentation h1 {
      font-size: 3.5em;
    }
  
    #cartes img {
      height: 350px;
    }
  
    #cartes h1 {
      font-size: 2.5em;
    }
  
    #cartes h2 {
      font-size: 2em;
    }

    #images #img2{
        display: none;
    }
  }
  
  @media (max-width: 992px) {
    header {
      height: 500px;
    }
  
    #presentation h1 {
      font-size: 3em;
    }
  
    #presentation p {
      font-size: 0.9em;
    }
  
    #cartes img {
      height: 300px;
    }
  
    #cartes h1 {
      font-size: 2em;
    }
  
    #cartes h2 {
      font-size: 1.8em;
    }
  
    .custom-btn {
      width: 110px;
      height: 35px;
      padding: 8px 20px;
      font-size: 13px;
    }
  
    #jumbotron h1 {
      font-size: 3em;
    }
  
    #title_last h1 {
      font-size: 3em;
    }
  
    #citations img {
      height: 60px;
    }
    #images #img2{
        display: none;
    }
  }
  
  @media (max-width: 768px) {
    header {
      height: 400px;
    }
  
    .navbar {
      height: auto;
      padding: 10px 0;
    }
  
    #presentation h1 {
      font-size: 2.5em;
      margin-top: 50px;
    }
  
    #presentation p {
      font-size: 0.8em;
    }
  
    #cartes img {
      height: 250px;
    }
  
    #cartes h1 {
      font-size: 1.8em;
    }
  
    #cartes h2 {
      font-size: 1.5em;
    }
  
    .custom-btn {
      width: 100px;
      height: 30px;
      padding: 5px 15px;
      font-size: 12px;
    }
  
    #jumbotron h1 {
      font-size: 2.5em;
    }
  
    #title_last h1 {
      font-size: 2.5em;
    }
  
    #citations img {
      height: 50px;
    }

    #images #img2{
        display: none;
    }
  }
  
  @media (max-width: 576px) {
    header {
      height: 300px;
    }
  
    #presentation h1 {
      font-size: 2em;
      margin-top: 30px;
    }
  
    #presentation p {
      font-size: 0.7em;
    }
  
    #cartes img {
      height: 200px;
    }
  
    #cartes h1 {
      font-size: 1.5em;
    }
  
    #cartes h2 {
      font-size: 1.2 em;
  }
  
  .custom-btn {
  width: 90px;
  height: 25px;
  padding: 5px 10px;
  font-size: 10px;
  }
  
  #jumbotron h1 {
  font-size: 2em;
  }
  
  #title_last h1 {
  font-size: 2em;
  }
  
  #citations img {
  height: 40px;
  }

  #images #img2{
    display: none;
}
  }