
  #bkg8{
    background: url('../images/diverse.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 750px; 
    background-attachment: fixed; 
  }

  #bkg3{
    background: url('../images/airplane2.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 700px; 
    background-attachment: fixed;
  }

  #bkg4{
    background: url('../images/airplane.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 700px; 
    background-attachment: fixed; 
  }


  #bkg5{
    background: url('../images/tourist.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 700px; 
    background-attachment: fixed; 
  }



  #bkg6{
    background: url('../images/fresh2.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 700px; 
    background-attachment: fixed; 
  }

  #bkg7{
    background: url('../images/airline.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 700px; 
    background-attachment: fixed; 
  }


  #bkg9{
    background: url('../images/close.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 700px; 
    background-attachment: fixed; 
  }


  



  section #win1{
    margin-top: 200px;
  }

  section #jetp{
    margin-top: 500px;
  }

  #boutonn #cartes button{
    margin-top: 30px;
  }

  #presentation h2{
    margin-top: 30px;
    font-size: 3.5em;
  }

  #presentation p{
    font-size: 1.5em;
  }


  section .bordure{
    background: url('../images/avion6.jpg');
    height: 499px;
    background-size: cover;
    margin-bottom: 50px;
  }

  section .bordure .window{
    margin-top: 100px;
    align-items: center; 
    text-align: center;
    padding: 30px 20px;
    background-color: white;

  }

  section .bordure .window h2{
    font-family: "Alice", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2.5em;
  }

  section .bordure .window p{
    font-family: "arial", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
  }


  section #forms img{
    border-radius: 20px;
    height: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }


/* css de la page service*/
#partenaires img{
  height: 100px;
  margin-top: 20px;
  margin-bottom: 60px;
}

section #props{
 align-items: center;
 text-align: center;

}

section #props h1{
  font-family: "Alice", serif;
  font-weight: 400;
  color: black;
  font-style: normal;
  font-size: 2em;
}

section #props h2{
  font-family: "Alice", serif;
  font-weight: 100;
  color: black;
  font-style: normal;
  font-size: 1.5em;
}

section #props p{
  font-family: "Alice", serif;
  font-weight: 400;
}

section #jumbotron p{
  font-size: 1.7em;
}

.blinker{
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
50% {
  opacity: 0;
}
}


