@media (max-width: 992px) {

  #heading h1 {
      font-size: 2rem;
  }

  #heading p {
      font-size: 1rem;
  }

  section #presentation h1 {
      font-size: 1.8rem;
  }

  section #presentation p {
      font-size: 1rem;
  }

  header{
    display: flex;
  }

  nav .menu {
    width: 100%;

  }

  #cartes #av1 img, 
  #cartes #av2 img, 
  #cartes #av4 img {
      margin: 20px 0;
      height: auto;
  }

  #cartes #av3 img {
    margin: 20px 0;
    height: auto;
  }

  #cartes h1 {
      font-size: 2rem;
  }

  #cartes h2 {
      font-size: 1.5rem;
  }

  .custom-btn {
      width: 120px;
      height: 40px;
      padding: 10px 25px;
      font-size: 14px;
  }

  section #jumbotron h1, 
  section #title_last h1 {
      font-size: 2.5rem;
      text-align: center;
  }

  #citations img {
      height: 70px;
  }

  section #icone img {
      margin: 0 auto;
      display: block;
  }

  #proverbes img {
      margin: 0 auto;
      display: block;
  }

  #proverbes #icone h2 {
      margin-bottom: 20px;
      text-align: center;
  }

  #images #img2 {
      display: none;
  }

  #images #img1 {
      height: 40%;
      margin: 0 auto;
  }
  header .container, 
  section .container {
      padding-left: 15px;
      padding-right: 15px;
  }

  #cartes {
      flex-direction: column;
      text-align: center;
  }

  section #jumbotron button{
    margin-left: 30%;
  }

  #cartes img {
      margin: 0 auto;
      max-width: 100%;
  }
}